{% extends 'core/base.html' %}
{% block title %} Acerca de {% endblock %}
{% load static %}
{% block background %}{% static 'core/img/about-bg.jpg' %}{% endblock %}
{% block headers %}
  <h1>Acerca de</h1>
  <span class="subheading">Biografía</span>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">   
      <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar-1.jpg' %}" alt="">
      </div>
      <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Marco Bustamante</h2>   
        <p style="text-align: justify;">Nacido en Santiago de Chile el año 1991. Comencé a crecer y empezaron mis gustos por los videojuegos... Decía dentro de mi, yo quiero hacer mis propios juegos para asi 
        poder disfrutar de ellos y compartirlos con mis amigos. Así nació mi pasión por la programación. Comencé a los 15 años a desarrollar pequeños juegos y pequeñas aplicaciones como 
        una calculadora, un juego del ahorcado, un cachipun (piedra, papel o tijeras) y un gato. Luego comencé a ir mas allá creando mis primeras aplicaciones, sencillas pero ya me comenzaba
        a inmergir en el mundo de los Frameworks, Bases de Datos, Front y Backend y Mucho Más. Al día de hoy a mis 32 años, tengo mi titulo de Ingeniero de Ejecución en Informática (2016)
        y mas de 7 años de experiencia en distintas empresas, en las cuales me han proporcionado las herramientas y el conocimiento para poder crecer profesionalmente y poder pulir mis 
        habilidades técnicas y mis habilidades blandas.   </p>
        </p>
      </div>
    </div>  
  </div>
  <hr>
{% endblock %}