{% extends 'core/base.html' %}
{% block title %} Contacto {% endblock %}
{% load static %}
{% block background %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}
{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
            Puedes contactarme a través de mi número de teléfono o de mi correo electrónico. Para agendar una reunión, por favor, escríbeme un correo electrónico o llámame.
        </p>
        <br>
        <p><b>Teléfono:</b> +569 94354886</p>
        <p><b>E-Mail:</b> marcoabustam@gmail.com</p>
        <p><b>Clases Particulares:</b> 25.000 $/h (precio base)</p>
      </div>
    </div>
  </div>

  <hr>
{% endblock %}