{% extends 'core/base.html' %}
{% load static %}
{% block title %}Portada{% endblock %}
{% block background %}{% static 'core/img/home-bg.jpg' %}{% endblock %}
{% block headers %}
<h1>Marco Bustamante</h1>
<span class="subheading">Te amo Luna mi vida!!!</span>
{% endblock %}
{% block content %}
{% endblock %}